aiohttp==3.7.4.post0
altgraph==0.17
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
bottle==0.12.19
chardet==4.0.0
discord==1.0.1
discord.py==1.7.2
idna==3.1
macholib==1.15.1
multidict==5.1.0
peewee==3.14.4
pycodestyle==2.7.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
six==1.16.0
SLPP==1.2.3
toml==0.10.2
typing-extensions==3.10.0.0
yarl==1.6.3
